[submodule "kx_conf"]
	path = kx_conf
	url = git@github.com:jbvalle/kx_conf.git
[submodule "conf"]
	path = conf
	url = git@github.com:jbvalle/kx_conf.git
[submodule "mcal"]
	path = mcal
	url = git@github.com:jbvalle/mcal.git
[submodule "sys"]
	path = sys
	url = git@github.com:jbvalle/sys.git
