[submodule "conf"]
	path = conf
	url = git@github.com:jbvalle/kx_conf.git
[submodule "bsw"]
	path = bsw
	url = git@github.com:jbvalle/bsw.git
[submodule "app"]
	path = app
	url = git@github.com:jbvalle/app.git
[submodule "tools"]
	path = tools
	url = git@github.com:jbvalle/tools.git
